<div class="row">

  <div class="col-12 col-lg-4">
  </div>

  <div class="col-12 col-lg-4 form mt-5">
    <h1 class = "text-center mt-3">Log in</h1>
    <hr>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group my-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email Address",class: "form-control" %>
          </div>

          <div class="form-group my-4">
            <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password",class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-check my-4">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in",class: "btn btn-lg btn-primary btn-block mt-5" %>
          </div>
      <% end %>
  </div>

  <div class="col-12 col-lg-4">
  </div>
</div>
