<div class="row">
  <div class="col-sm-12 mt-5">
    <%= form_with(model: challenge, local: true) do |form| %>
      <% if challenge.errors.any? %>
        <div class="alert alert-danger">
          <% challenge.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>

      <div class="form-group ">
        <%= form.text_field :title, id: :challenge_title, placeholder: "Title", class: "form-control" %>
      </div>

      <div class="form-group ">
        <%= form.text_area :description, id: :challenge_description,placeholder: "Description",  class: "form-control", rows: "5" %>
      </div>

      <div class="form-group ">
        <%= form.select(:tags, %w[Bit-Manipulation Greedy NumberTheory Searching Sorting String Trees Others], {:prompt => "-Select tag-"}, { :class => "custom-select mb-3"})%>
      </div>

      <div class="form-group ">
        <% form.label :employee_id %>
        <%= form.number_field :employee_id, value: current_employee.id, type: :hidden %>
      </div> 


      <div class="actions">
        <%= form.submit class: "btn btn-outline-primary"%>
      </div>
    <% end %>
  </div>
</div>