<%= form_with(model: challenge, local: true) do |form| %>
  <% if challenge.errors.any? %>
    <div class="alert alert-danger">
      <% challenge.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="form-row my-4">
    <div class="col">
      <%= form.text_field :title, id: :challenge_title, placeholder: "Title", class: "form-control" %>
    </div>

    <div class="col-7">
      <%= form.text_area :description, id: :challenge_description,placeholder: "Description",  class: "form-control", rows: "1" %>
    </div>

    <div class="col">
      <%= form.select(:tags, %w[Bit-Manipulation Greedy NumberTheory Searching Sorting String Trees Others], {:prompt => "-Select tag-"}, { :class => "custom-select mb-3"})%>
    </div>

    <%# Hidden fields of the form %>
    <% form.label :employee_id %>
    <%= form.number_field :employee_id, value: current_employee.id, type: :hidden %>

    <% form.label :created_by %>
    <%= form.number_field :created_by, value: current_employee.emp_id, type: :hidden %> 

    <div class="col">
      <%= form.submit "Add Challenge", class: "btn btn-outline-primary"%>
    </div>
  </div>
<% end %>
