<% content_for :title do %>
    <h1 class="text-primary text-center">Challenges</h1>
<% end %>
<hr>
<%#= link_to 'Add New Challenge', new_challenge_path , class: "btn btn-outline-primary my-4" %>
<%= render "challenges/form", challenge: @challenge %>
<hr>

<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          Challenge Id
          <%= link_to :sort => "id" do %>
            <i class="fas fa-sort-numeric-down"></i>
          <% end %>
        </th>
        <th scope="col">
          Title
          <%= link_to :sort => "title" do %>
            <i class="fas fa-sort-alpha-down"></i>
          <% end %>
        </th>
        <th scope="col">Description</th>
        <th scope="col" colspan="2">
          Vote Count
          <%= link_to :sort => "votes" do %>
            <i class="fas fa-sort-numeric-down"></i>
          <% end %>
        </th>
        <th scope="col">Created By</th>
        <th scope="col">
          Created at
          <%= link_to :sort => "created_at" do %>
            <i class="fas fa-sort-numeric-down"></i>
          <% end %>
        </th>
        <th scope="col">Tags</th>
        <th scope="col" colspan="2">Collaborators</th>
      </tr>
    </thead>
    <tbody>
      <% @challenges.each do |challenge| %>
        <tr>
          <td><%= challenge.id %></td>
          <td><%= challenge.title %></td>
          <td><%= challenge.description %></td>
          <td>
            <%= challenge.votes%>
          </td>
          <td>
            <% if challenge.employee_id != current_employee.id %>
              <%= link_to upvote_path(challenge) do %>
                <i class="fas fa-vote-yea"></i> 
              <% end %> 
            <% else %>
              <i class="fas fa-vote-yea text-muted"></i>
            <% end %>
          </td>
          <td>
            <%= challenge.created_by %>
          </td>
          <td><%= challenge.created_at %></td>
          <td><%= challenge.tags %></td>  
          <td>
            <% @collaborators =  Collaborate.where(challenge_id: challenge.id) %>
            <% if !@collaborators.blank?  %>
              <% @collaborators.each do | collaborator | %>
                <%= collaborator.emp_id %>
                <% " " %>
              <% end %>
            <% end %>

          </td>
          <td>
            <% if challenge.employee_id != current_employee.id %>
              <%= link_to collaborate_path(challenge) do %>
                <i class="far fa-check-circle"></i>
              <% end %> 
            <% else %>
              <i class="far fa-check-circle text-muted"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

