<h1 class="text-primary text-center my-3">Challenges</h1>

<%= link_to 'Add New Challenge', new_challenge_path , class: "btn btn-outline-primary my-4" %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Challenge Id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">VoteCount</th>
      <th scope="col">Upvote</th>
      <th scope="col">Created By</th>
      <th scope="col">Tags</th>
      <th scope="col">Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.id %></td>
        <td><%= challenge.title %></td>
        <td><%= challenge.description %></td>
        <td>
          <%= challenge.votes%>
        </td>
        <td>
          <%= link_to upvote_path(challenge) do %>
            <i class="fas fa-vote-yea"></i> 
          <% end %> 
        </td>
        <%# <td><%= challenge.employee_id %>
        <td>EO1</td>
        <td><%= challenge.tags %></td>  
        <td><%= challenge.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
