<!doctype html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>HackFest</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"crossorigin="anonymous">
    
  </head>
  
  <body>
    <%= render partial: "shared/navbar"  %>
    <div class="container-fluid">
      <%= render partial: "shared/alert"  %>
      <%= yield :title %>
      <%= yield %>
    </div>
    <%= render partial: "shared/footer" %>
  </body>
</html>
